GPU_NUM = 2
report.enabled = true
report.overwrite = true
trace.enabled = true
docker.enabled = true

devicenums = (0..(params.GPU_NUM - 1)).join(",")
gpu_containeroptions = "--gpus \'\"device=${devicenums}\"\'"

if (params.PHOENIX) {
  process.executor = 'slurm'
}
    queueSize = 32
        process {
    withName: 'Basecall'{
        cpus = 16
        memory = 64.GB
        time = '24h'
	queue = 'gpu'
	clusterOptions = "--gres=gpu:${params.GPU_NUM}"
    //containerOptions = "--gpus all"
    containerOptions = gpu_containeroptions//"--gpus device=0,1,2"
    }
    withName: 'Demux'{
        cpus = 16
        memory = 64.GB
        time = '4h'
	queue = 'medium'
    }
    withName: 'Trim'{
        cpus = 64
        memory = 128.GB
        time = '6h'
        queue = 'medium'
    }
    }

