GPU_NUM = 2
report.enabled = true
report.overwrite = true
trace.enabled = true
docker.enabled = true

devicenums = (0..(params.GPU_NUM - 1)).join(",")
gpu_containeroptions = "--gpus \'\"device=${devicenums}\"\'"

if (params.PHOENIX) {
  process.executor = 'slurm'
}
    queueSize = 32
    process {
    withName: 'Basecall'{
        cpus = 16
        memory = 64.GB
        time = '24h'
        queue = 'gpu'
    }

    withName: 'Basecall_custom'{
        cpus = 32
        memory = 128.GB
        time = '96h'
        queue = 'gpu'
    }
    withName: 'Demux'{
        cpus = 16
        memory = 64.GB
        time = '4h'
	    queue = 'medium'
    }
    withName: 'Trim'{
        cpus = 64
        memory = 128.GB
        time = '6h'
        queue = 'medium'
    }
    withName: 'Demux_custom'{
        cpus = 128
        memory = 64.GB
        time = '24h'
	    queue = 'long'
    }
    withLabel: "gpu" {
        containerOptions="--gpus \\\"device=\$SLURM_JOB_GPUS\\\""
        clusterOptions = "--gres=gpu:${params.GPU_NUM}"
    }
}

